.cards {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #21212166;

  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;

  gap: 20px 40px;
}

.cards__card {
  display: grid;
  grid-template-areas:
    "picture picture"
    "description heart";
  font-size: 20px;

  max-width: 413px;
}

.cards__card-image {
  object-fit: cover;

  grid-area: picture;

  width: 413px;
  height: 413px;

  border-radius: 16px;
}
.cards__card-image-caption {
  grid-area: description;
  max-width: 353px;
  overflow: hidden;
  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}
.cards__card-like-icon {
  grid-area: heart;
  justify-self: end;
  align-self: center;
  opacity: 0.4;
}
.cards__card-like-icon:hover {
  opacity: 1;
}

@media screen and (max-width: 630px) {
  .cards {
    margin: 0 16px;
  }
}
