.footer {
  padding: 60px;
}

.footer__copyright {
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121b2;
}
