.modal {
  padding: 10px;

  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
}

.modal__row {
  display: flex;
  justify-content: space-between;
}

.modal__title {
  margin-top: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__close-button {
  width: 40;
  height: 40;
  opacity: 0.4;
  background: none;
  border: none;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.modal__form-item {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  letter-spacing: 0%;
  color: #212121b2;
}

.modal__input {
  margin-top: 8px;
  padding: 16px 12px;

  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  border-radius: 8px;
  border-width: 1px;
  border: 1px solid #21212166;

  text-overflow: ellipsis;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__input::placeholder {
  color: #2121214d;

  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__submit-button {
  max-width: 156px;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;

  background: #212121;

  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fcf5e5;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 630px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-button {
    max-width: none;
  }
}
