.profile {
  display: flex;
  justify-content: space-between;
  margin: 34px 80px 20px 80px;
  border-bottom: 1px solid #21212166;
  padding-bottom: 20px;
}

.profile__avatar {
  display: flex;
  gap: 20px;
}

.profile__avatar-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile__avatar-content-name {
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121;

  margin-bottom: 12px;
}
.profile__avatar-content-bio {
  margin: 0;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121b2;
}

.profile__avatar-content-name,
.profile__avatar-content-bio {
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 420px;

  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin-top: auto;
  display: flex;
  gap: 8px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  background: none;
  border: none;
  width: fit-content;
  opacity: 0.7;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__np-button {
  margin-top: auto;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  background: #212121;

  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  color: #fcf5e5;
}

.profile__np-button:hover {
  opacity: 0.8;
}

.profile__np-button-plus-icon {
  height: 12px;
  width: 12px;

  margin-right: 8px;
}

/* Mobile */
@media screen and (max-width: 630px) {
  .profile {
    margin: 20px 16px;

    align-items: center;
    flex-direction: column;
  }

  .profile__avatar {
    flex-direction: column;

    align-items: center;
  }

  .profile__avatar-image {
    width: 80px;
    height: 80px;
  }

  .profile__avatar-content {
    align-items: center;
    text-align: center;
    font-size: 20px;

    margin-bottom: 20px;
  }

  .profile__edit-button {
    margin-top: 32px;
  }

  .profile__np-button {
    width: 100%;
    max-width: 288px;
  }
}
